<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.repository.mapper.PostMapper">

  <select id="getAllPosts" resultType="com.example.demo.domain.repository.entity.PostEntity">
  		select name, post
		from m_user
		inner join t_posts using(user_id)
		order by post_id;

  </select>

</mapper>